@model List<Eletrodomestico>
<h1>Lista de Eletrodomesticos</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Consumo Energetico</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eletrodomestico in Model)
        {
            <tr>
                <td>@eletrodomestico.Marca</td>
                <td>@eletrodomestico.Modelo</td>
                <td>@eletrodomestico.ConsumoEnergetico</td>
                <td>
                    @if (eletrodomestico is Geladeira)
                    {
                        <strong>Capacidade Litros: </strong> @(((Geladeira)eletrodomestico).CapacidadeLitros) <br />
                        <strong>Freezer: </strong> @(((Geladeira)eletrodomestico).TemFreezer ? "Sim" : "Não") <br />
                    }
                    else if (eletrodomestico is Televisor)
                    {
                        <strong>Smart:</strong> @(((Televisor)eletrodomestico).EhSmart ? "Sim" : "Não")
                        <strong>Tamanho Tela:</strong> @(((Televisor)eletrodomestico).TamanhoTela)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>